*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: #5a585e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Karla", "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(./Assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid inherit;
}

h1 {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -0.2px;
  line-height: 48px;
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.1px;
  line-height: 26px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.content {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content p {
  width: 50%;
  max-width: 750px;
}

.MailChimp_Form {
  display: flex;
  justify-content: center;
  margin: 20px; auto;
  width: 100%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 34px;
    line-height: 38px;
  }

  .content p {
    width: 65%;
  }

  .container {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .content p {
    width: 80%;
  }

  .content h1{
    width: 90%;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  body {
    background-image: none;
  }

  .container {
    margin-top: 40px;
  }

  .content p {
    width: 75%;
  }

  .content h1 {
    width: 75%;
  }

  h1 {
    font-size: 22px;
    line-height: 26px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}

#mc_embed_signup {
  background:#fff;
  clear: left;
  font: 12px Helvetica,Arial,sans-serif;
  margin-bottom: 30px;
}
#mc-field-group {
  display: flex;
  width: 100%;
}
#mc_embed_signup_scroll {
  display: flex;
}
#mce-EMAIL.required-email{
  position: relative;
  padding-left: 20px;
  background-color: #F2F2F7;
  left: 60px;
  height: 55px;
  width: 420px;
  border-radius: 28px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: rgba(90,88,94,1);
  letter-spacing: 0.5px;
}
#mc-embedded-subscribe.button {
  position: relative;
  background-color: #6079F2;
  height: 55px;
  width: 140px;
  right:60px;
  border-radius: 28px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  transition: 200ms ease all;
}
#mc-embedded-subscribe.button:hover {
  background-color: #273DA9;
  transform: translateX(-20px);
}

::-webkit-input-placeholder {
    color: rgba(90,88,94,.4)
  }
  ::-moz-placeholder {
    color: rgba(90,88,94,.4)
  }
  :-ms-input-placeholder {
    color: rgba(90,88,94,.4)
  }

#mce-responses.clear {
  position: absolute;
  /* margin: 0 auto; */
  width: 50%;
  margin-top: 70px;
  left: 25%;
}

  @@media (max-width: 780px) {
    #mce-responses.clear {
      margin-top: 50px;
      width: 80%;
      left: 10%;
    }
    #mc_embed_signup {
      font: 11px Helvetica,Arial,sans-serif;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 480px) {
    #mce-EMAIL.required-email{
      left: 50px;
      height: 45px;
      width: 300px;
      font-size: 16px;
    }

    #mc-embedded-subscribe.button{
      height: 45px;
      width: 120px;
      right:50px;
      font-size: 16px;
    }
    #mce-responses.clear {
      margin-top: 50px;
      width: 80%;
      left: 10%;
    }
    #mc_embed_signup {
      font: 11px Helvetica,Arial,sans-serif;
      margin-bottom: 20px;
    }
  }
